

## Exploratory Data Analysis of IPL Matches

## Table of Contents

1. [Problem Statement](#section1)<br>
2. [Data Loading and Description](#section2)
3. [Data Profiling](#section3)
    - 3.1 [Understanding the Dataset](#section301)<br/>
    - 3.2 [Pre Profiling](#section302)<br/>
    - 3.3 [Preprocessing](#section303)<br/>
    - 3.4 [Post Profiling](#section304)<br/>

### 1. Problem Statement

#### Some Background Information
The Indian Premier League (IPL) is a Twenty20 cricket league tournamnet held in India contested during April and May of every year where top players from all over the world take part. The IPL is the most-attended cricket league in the world and ranks sixth among all sports leagues.

The team has got some world class players but has not been able to live up to the expectations of their supporters. Their poor show in IPL has left everyone disappointed. 

__I wanted to analyze__
- The reason behind their poor performance and suggest any recommendation for future auctions and player choices.
- Predicting the winner of the next season of IPL based on past data, Visualizations, Perspectives, etc.

The notebook contains:
- Basic Analysis like Teams with maximum matches, wins,etc
- Batsman Analysis
- Bowler Analysis

<a id=section2></a>

### 2. Data Loading and Description

- The dataset contains details information related to the matches such as location, contesting teams, umpires, results, etc. between 2008 and 2018.
- The dataset comprises of __696 observations of 18 columns__. Below is a table showing names of all the columns and their description.

| Column Name        | Description                                      |
| ------------------ |:-------------                                   :| 
| id                 | Identity of match                              | 
| season             | Season                                         |  
| city               | City in which match played                     | 
| date               | Date on which match played                     |   
| team1              | Name of Team One                               |
| team2              | Name of Team Two                               |
| toss_winner        | Name of team who won toss                      |
| toss_decision      | Name of team who make decision after won toss  | 
| result             | Result of match                                |
| dl_applied         | Is dl rule applied                             |
| winner             | Name of winner team                            |
| win_by_runs        | Win by runs                                    |
| win_by_wickets     | Win by wickets                                 |
| player_of_match    | Player of match                                |
| venue              | Venue of match                                 |
| umpire1            | Name of umpire one                             |
| umpire2            | Name of umpire two                             |
| umpire3            | Name of third umpire                           |

#### Source :
https://github.com/insaid2018/Term1/blob/master/Data/Projects/matches.csv

#### Importing packages

In [279]:
import numpy as np                                                 # Implemennts milti-dimensional array and matrices
import pandas as pd                                                # For data manipulation and analysis
import pandas_profiling
import matplotlib.pyplot as plt                                    # Plotting library for Python programming language and it's numerical mathematics extension NumPy
import seaborn as sns                                              # Provides a high level interface for drawing attractive and informative statistical graphics

%matplotlib inline
sns.set()

from subprocess import check_output

#### Importing the Dataset

In [280]:
matches_data = pd.read_csv("https://raw.githubusercontent.com/insaid2018/Term-1/master/Data/Projects/matches.csv")     # Importing training dataset using pd.read_csv

<a id=section3></a>

## 3. Data Profiling

- In the upcoming sections we will first __understand our dataset__ using various pandas functionalities.
- Then with the help of __pandas profiling__ we will find which columns of our dataset need preprocessing.
- In __preprocessing__ we will deal with erronous and missing values of columns. 
- Again we will do __pandas profiling__ to see how preprocessing have transformed our dataset.

<a id=section301></a>

### 3.1 Understanding the Dataset

To gain insights from data we must look into each aspect of it very carefully. We will start with observing few rows and columns of data both from the starting and from the end.

Let us check the basic information of the dataset. The very basic information to know is the dimension of the dataset – rows and columns – that’s what we find out with the method __shape__.

In [ ]:
matches_data.shape

matches_data has __696 rows and 18 columns.__

In [ ]:
matches_data.columns

In [ ]:
matches_data.head()

In [ ]:
matches_data.tail()

In [ ]:
matches_data.info()

In [309]:
matches_data.describe(include='all')

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
count,696.000000,696.000000,689,696,696,696,696,696,696,696.000000,693,696.000000,696.000000,693,696,695,695,60
unique,NaN,NaN,32,498,14,14,14,2,3,NaN,14,NaN,NaN,214,35,55,58,18
top,NaN,NaN,Mumbai,2017-04-08,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,field,normal,NaN,Mumbai Indians,NaN,NaN,CH Gayle,M Chinnaswamy Stadium,HDPK Dharmasena,S Ravi,C Shamshuddin
freq,NaN,NaN,94,2,91,90,90,413,686,NaN,98,NaN,NaN,20,73,73,56,6
mean,974.103448,2012.965517,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.027299,NaN,13.472701,3.349138,NaN,NaN,NaN,NaN,NaN
std,2143.239623,3.069266,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.163070,NaN,23.607994,3.411398,NaN,NaN,NaN,NaN,NaN
min,1.000000,2008.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN
25%,174.750000,2010.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN
50%,348.500000,2013.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,0.000000,3.000000,NaN,NaN,NaN,NaN,NaN
75%,522.250000,2016.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,19.000000,6.000000,NaN,NaN,NaN,NaN,NaN
max,7953.000000,2018.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,146.000000,10.000000,NaN,NaN,NaN,NaN,NaN

In [281]:
matches_data.isnull().sum()

id                   0
season               0
city                 7
date                 0
team1                0
team2                0
toss_winner          0
toss_decision        0
result               0
dl_applied           0
winner               3
win_by_runs          0
win_by_wickets       0
player_of_match      3
venue                0
umpire1              1
umpire2              1
umpire3            636
dtype: int64

<a id=section302></a>

### 3.2 Pre Profiling

- By pandas profiling, an __interactive HTML report__ gets generated which contins all the information about the columns of the dataset, like the __counts and type__ of each _column_. Detailed information about each column, __coorelation between different columns__ and a sample of dataset.<br/>
- It gives us __visual interpretation__ of each column in the data.
- _Spread of the data_ can be better understood by the distribution plot. 
- _Grannular level_ analysis of each column.

In [ ]:
profile = pandas_profiling.ProfileReport(matches_data)
profile.to_file(outputfile="matches_data_before_preprocessing.html")

Here, we have done Pandas Profiling before preprocessing our dataset, so we have named the html file as __matches_data_before_preprocessing.html__. Take a look at the file and see what useful insight you can develop from it. <br/>
Now we will process our data to better understand it.

<a id=section303></a>

### 3.3 Preprocessing

- Dealing with missing values<br/>
    - Replacing missing entry of the __city__ using __venue__ information.
    - Dropping the column __umpire3__ as it has to many __null__ values.
    - Neutralise/ Standardise values of __date__ column in __YYYY-MM-DD__ format, as values in column has two different format “YYYY-MM-DD” and “DD/MM/YY”.
    - Find and validate missing values of winner & player of match column.
    - Neutralise/ Standardise values of __id__ column

In [ ]:
null_column = matches_data.columns[matches_data.isnull().any()]
null_column = null_column.drop('umpire3')
matches_data[null_column].isnull().sum()
matches_data[null_column].head(10)
null_column

In [289]:
matches_data[matches_data.winner.isnull()]

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
300,301,2011,Delhi,2011-05-21,Delhi Daredevils,Pune Warriors,Delhi Daredevils,bat,no result,0,NaN,0,0,NaN,Feroz Shah Kotla,SS Hazare,RJ Tucker,NaN
545,546,2015,Bangalore,2015-04-29,Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,field,no result,0,NaN,0,0,NaN,M Chinnaswamy Stadium,JD Cloete,PG Pathak,NaN
570,571,2015,Bangalore,2015-05-17,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore,field,no result,0,NaN,0,0,NaN,M Chinnaswamy Stadium,HDPK Dharmasena,K Srinivasan,NaN

In [308]:
matches_data.date.unique()

array(['2017-04-05', '2017-04-06', '2017-04-07', '2017-04-08',
       '2017-04-09', '2017-04-10', '2017-04-11', '2017-04-12',
       '2017-04-13', '2017-04-14', '2017-04-15', '2017-04-16',
       '2017-04-17', '2017-04-18', '2017-04-19', '2017-04-20',
       '2017-04-21', '2017-04-22', '2017-04-23', '2017-04-24',
       '2017-04-26', '2017-04-27', '2017-04-28', '2017-04-29',
       '2017-04-30', '2017-05-01', '2017-05-02', '2017-05-03',
       '2017-05-04', '2017-05-05', '2017-05-06', '2017-05-07',
       '2017-05-08', '2017-05-09', '2017-05-10', '2017-05-11',
       '2017-05-12', '2017-05-13', '2017-05-14', '2017-05-16',
       '2017-05-17', '2017-05-19', '2017-05-21', '2008-04-18',
       '2008-04-19', '2008-04-20', '2008-04-21', '2008-04-22',
       '2008-04-23', '2008-04-24', '2008-04-25', '2008-04-26',
       '2008-04-27', '2008-04-28', '2008-04-29', '2008-04-30',
       '2008-05-01', '2008-05-02', '2008-05-25', '2008-05-03',
       '2008-05-04', '2008-05-05', '2008-05-06', '2008-05-07',
       '2008-05-08', '2008-05-09', '2008-05-28', '2008-05-10',
       '2008-05-11', '2008-05-12', '2008-05-13', '2008-05-14',
       '2008-05-15', '2008-05-16', '2008-05-17', '2008-05-18',
       '2008-05-19', '2008-05-20', '2008-05-21', '2008-05-23',
       '2008-05-24', '2008-05-26', '2008-05-27', '2008-05-30',
       '2008-05-31', '2008-06-01', '2009-04-18', '2009-04-19',
       '2009-04-20', '2009-04-21', '2009-04-22', '2009-04-23',
       '2009-04-24', '2009-04-25', '2009-04-26', '2009-04-27',
       '2009-04-28', '2009-04-29', '2009-04-30', '2009-05-01',
       '2009-05-02', '2009-05-03', '2009-05-04', '2009-05-05',
       '2009-05-06', '2009-05-07', '2009-05-08', '2009-05-09',
       '2009-05-10', '2009-05-11', '2009-05-12', '2009-05-13',
       '2009-05-14', '2009-05-15', '2009-05-16', '2009-05-17',
       '2009-05-18', '2009-05-19', '2009-05-20', '2009-05-21',
       '2009-05-22', '2009-05-23', '2009-05-24', '2010-03-12',
       '2010-03-13', '2010-03-14', '2010-03-15', '2010-03-16',
       '2010-03-17', '2010-03-18', '2010-03-19', '2010-03-20',
       '2010-03-21', '2010-03-22', '2010-03-23', '2010-03-24',
       '2010-03-25', '2010-03-26', '2010-03-27', '2010-03-28',
       '2010-03-29', '2010-03-30', '2010-03-31', '2010-04-01',
       '2010-04-02', '2010-04-03', '2010-04-04', '2010-04-05',
       '2010-04-06', '2010-04-07', '2010-04-08', '2010-04-09',
       '2010-04-10', '2010-04-11', '2010-04-12', '2010-04-13',
       '2010-04-14', '2010-04-15', '2010-04-16', '2010-04-17',
       '2010-04-18', '2010-04-19', '2010-04-21', '2010-04-22',
       '2010-04-24', '2010-04-25', '2011-04-08', '2011-04-09',
       '2011-04-10', '2011-04-11', '2011-04-12', '2011-04-13',
       '2011-04-14', '2011-04-15', '2011-04-16', '2011-04-17',
       '2011-04-18', '2011-04-19', '2011-04-20', '2011-04-21',
       '2011-04-22', '2011-04-23', '2011-04-24', '2011-04-25',
       '2011-04-26', '2011-04-27', '2011-04-28', '2011-04-29',
       '2011-04-30', '2011-05-01', '2011-05-02', '2011-05-03',
       '2011-05-04', '2011-05-05', '2011-05-06', '2011-05-07',
       '2011-05-08', '2011-05-09', '2011-05-10', '2011-05-11',
       '2011-05-12', '2011-05-13', '2011-05-14', '2011-05-15',
       '2011-05-16', '2011-05-17', '2011-05-18', '2011-05-19',
       '2011-05-20', '2011-05-21', '2011-05-22', '2011-05-24',
       '2011-05-25', '2011-05-27', '2011-05-28', '2012-04-04',
       '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
       '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
       '2012-04-13', '2012-04-19', '2012-04-14', '2012-04-15',
       '2012-04-16', '2012-04-17', '2012-04-18', '2012-05-10',
       '2012-04-20', '2012-04-21', '2012-04-22', '2012-04-23',
       '2012-04-24', '2012-04-25', '2012-04-26', '2012-04-27',
       '2012-04-28', '2012-04-29', '2012-04-30', '2012-05-01',
       '2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
       '2012-05-06', '2012-05-07', '2012-05-08', '2012-05-09',
       '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
       '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
       '2012-05-19', '2012-05-20', '2012-05-22', '2012-05-23',
       '2012-05-25', '2012-05-27', '2013-04-03', '2013-04-04',
       '2013-04-05', '2013-04-06', '2013-04-07', '2013-04-08',
       '2013-04-09', '2013-04-10', '2013-04-11', '2013-04-12',
       '2013-04-13', '2013-04-14', '2013-04-15', '2013-04-16',
       '2013-04-17', '2013-04-18', '2013-04-19', '2013-04-20',
       '2013-04-21', '2013-04-22', '2013-04-23', '2013-05-16',
       '2013-04-24', '2013-04-25', '2013-04-26', '2013-04-27',
       '2013-04-28', '2013-04-29', '2013-04-30', '2013-05-01',
       '2013-05-02', '2013-05-03', '2013-05-04', '2013-05-14',
       '2013-05-05', '2013-05-07', '2013-05-08', '2013-05-09',
       '2013-05-10', '2013-05-11', '2013-05-12', '2013-05-13',
       '2013-05-15', '2013-05-06', '2013-05-17', '2013-05-18',
       '2013-05-19', '2013-05-21', '2013-05-22', '2013-05-24',
       '2013-05-26', '2014-04-16', '2014-04-17', '2014-04-18',
       '2014-04-19', '2014-04-20', '2014-04-21', '2014-04-22',
       '2014-04-23', '2014-04-24', '2014-04-25', '2014-04-26',
       '2014-04-27', '2014-04-28', '2014-04-29', '2014-04-30',
       '2014-05-02', '2014-05-03', '2014-05-04', '2014-05-05',
       '2014-05-06', '2014-05-07', '2014-05-08', '2014-05-09',
       '2014-05-10', '2014-05-11', '2014-05-12', '2014-05-13',
       '2014-05-14', '2014-05-15', '2014-05-18', '2014-05-19',
       '2014-05-20', '2014-05-21', '2014-05-22', '2014-05-23',
       '2014-05-24', '2014-05-25', '2014-05-27', '2014-05-28',
       '2014-05-30', '2014-06-01', '2015-04-08', '2015-04-09',
       '2015-04-10', '2015-04-11', '2015-04-12', '2015-04-13',
       '2015-04-14', '2015-04-30', '2015-04-15', '2015-04-16',
       '2015-04-17', '2015-04-18', '2015-04-19', '2015-04-20',
       '2015-04-21', '2015-04-22', '2015-04-23', '2015-04-24',
       '2015-04-25', '2015-04-26', '2015-04-27', '2015-05-07',
       '2015-04-29', '2015-04-28', '2015-05-01', '2015-05-02',
       '2015-05-03', '2015-05-04', '2015-05-05', '2015-05-06',
       '2015-05-08', '2015-05-09', '2015-05-10', '2015-05-11',
       '2015-05-12', '2015-05-13', '2015-05-14', '2015-05-15',
       '2015-05-16', '2015-05-17', '2015-05-19', '2015-05-20',
       '2015-05-22', '2015-05-24', '2016-04-09', '2016-04-10',
       '2016-04-11', '2016-04-12', '2016-04-13', '2016-04-14',
       '2016-04-15', '2016-04-16', '2016-04-17', '2016-04-18',
       '2016-04-19', '2016-04-20', '2016-04-21', '2016-04-22',
       '2016-04-23', '2016-04-24', '2016-04-25', '2016-04-26',
       '2016-04-27', '2016-04-28', '2016-04-29', '2016-04-30',
       '2016-05-01', '2016-05-02', '2016-05-03', '2016-05-04',
       '2016-05-05', '2016-05-06', '2016-05-07', '2016-05-08',
       '2016-05-09', '2016-05-10', '2016-05-11', '2016-05-12',
       '2016-05-13', '2016-05-14', '2016-05-15', '2016-05-16',
       '2016-05-17', '2016-05-18', '2016-05-19', '2016-05-20',
       '2016-05-21', '2016-05-22', '2016-05-24', '2016-05-25',
       '2016-05-27', '2016-05-29', '07/04/18', '08/04/18', '09/04/18',
       '10/04/18', '11/04/18', '12/04/18', '13/04/18', '14/04/18',
       '15/04/18', '16/04/18', '17/04/18', '18/04/18', '19/04/18',
       '20/04/18', '21/04/18', '22/04/18', '23/04/18', '24/04/18',
       '25/04/18', '26/04/18', '27/04/18', '28/04/18', '29/04/18',
       '30/04/18', '01/05/18', '02/05/18', '03/05/18', '04/05/18',
       '05/05/18', '06/05/18', '07/05/18', '08/05/18', '09/05/18',
       '10/05/18', '11/05/18', '12/05/18', '13/05/18', '14/05/18',
       '15/05/18', '16/05/18', '17/05/18', '18/05/18', '19/05/18',
       '20/05/18', '22/05/18', '23/05/18', '25/05/18', '27/05/18'],
      dtype=object)

In [288]:
matches_data.groupby('result').size()

result
no result      3
normal       686
tie            7
dtype: int64

In [ ]:
matches_data.loc[matches_data.winner.isnull() & matches_data.umpire3.isnull(), ]

In [ ]:
matches_data['id'].max()

In [ ]:
matches_data['clean_date'] = matches_data.date.apply(lambda x: pd.to_datetime(x).strftime('%d/%m/%Y %H:%M'))
matches_data.clean_date.unique()

In [ ]:
matches_data.drop(columns=['date'])

In [ ]:
matches_data.team1.unique()

In [ ]:
print('Total Matches Played:', matches_data.shape[0])
print(' \n Venues Played At:', matches_data['city'].unique())     
print(' \n Teams :', matches_data['team1'].unique())

__How many seasons we have got in the dataset__

In [ ]:
season = matches_data['season'].unique()
type(season)
season.sort()
season

In [ ]:
matches_data['season'].unique().sort()
season.shape

In [ ]:
number_of_missing_values_city = len(matches_data.city) - matches_data.city.count()
number_of_missing_values_city

In [ ]:
number_of_missing_values_umpire3 = len(matches_data.umpire3) - matches_data.umpire3.count()
number_of_missing_values_umpire3

In [ ]:
matches_data.date.unique()

<a id=section304></a>

### 3.4 Post Pandas Profiling

In [ ]:
#import pandas_profiling
profile = pandas_profiling.ProfileReport(matches_data)
profile.to_file(outputfile="matches_data_after_preprocessing.html")

Now we have preprocessed the data, now the dataset doesnot contain missing values, we have also introduced new feature named __FamilySize__. So, the pandas profiling report which we have generated after preprocessing will give us more beneficial insights. You can compare the two reports, i.e __matches_data_after_preprocessing.html__ and __matches_data_before_preprocessing.html__.<br/>
In __matches_data__after_preprocessing.html__ report, observations:
- In the Dataset info, Total __Missing(%)__ = __0.0%__ 
- Number of __variables__ = __13__ 
- Observe the newly created variable FamilySize, Click on Toggle details to get more detailed information about it.